<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home Controller</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Jquery -->
	<!--
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write(
		'<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
	-->


	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library --> <!--This one is for bootstrap, test it with other -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	</script>

	<!-- Very important, little js script to send command via Jquery GET -->
	<script>
	function sendCommand(command) {
		$.get("/", {"command":command})
	}
	</script>

	<style>
		.colorSlider{
			width : 75%;
			height : 15px;
			border-radius : 5px; 
			background: #d3d3d3;
		    outline : none;
		    opacity : 0.7;
		    -webkit-transition : .2s;
		    transition: opacity : .2s;

		}

		.colorSlider::-webkit-slider-thumb {
		    -webkit-appearance: none;
		    appearance: none;
		    width: 25px;
		    height: 25px;
		    border-radius: 50%; 
		    background: #4CAF50;
		    cursor: pointer;
		}

		.colorSlider::-moz-range-thumb {
		    width: 25px;
		    height: 25px;
		    border-radius: 50%;
		    background: #4CAF50;
		    cursor: pointer;
		}
	</style>

</head>


<div class="container-fluid">
	<div class="jumbotron">
		<h1>RGB Light Strip Controller</h1>
		<p>Choose colors and commands
		</p>
	</div>

	<h1>Colors</h1>
	<p>This is where we will put a grid of color boxes</p>

	<div class="row" style="margin-top:20px; margin-bottom:25px">
		<!-- Do rows of 4 button, don't worry they stack if window too small -->
		<div class="col-xs-4"> <button class="btn" style="background-color: red; height:75px; width:75px" onclick="sendCommand('red')"></button> </div>
		<div class="col-xs-4"> <button class="btn" style="background-color: blue; height:75px; width:75px" onclick="sendCommand('blue')"></button> </div>
		<div class="col-xs-4"> <button class="btn" style="background-color: green; height:75px; width:75px" onclick="sendCommand('green')"></button> </div>
	</div>
	<div class="row" style="margin-top:20px; margin-bottom:25px">
		<div class="col-xs-4"> <button class="btn" style="background-color: yellow; height:75px; width:75px" onclick="sendCommand('yellow')"></button> </div>
		<div class="col-xs-4"> <button class="btn" style="background-color: orange; height:75px; width:75px" onclick="sendCommand('orange')"></button> </div>
		<div class="col-xs-4"> <button class="btn" style="background-color: #8B15EE; height:75px; width:75px" onclick="sendCommand('purple')"></button></div>
	</div>
	<div class="row" style="margin-top:20px; margin-bottom:25px">
		<div class="col-xs-4"> <button class="btn" style="background-color: hotpink; height:75px; width:75px" onclick="sendCommand('pink')"></button> </div>
		<div class="col-xs-4"> <button class="btn" style="background-color: springgreen; height:75px; width:75px" onclick="sendCommand('springgreen')"></button> </div>
		<div class="col-xs-4"> <button class="btn" style="background-color: turquoise; height:75px; width:75px" onclick="sendCommand('turquoise')"></button></div>
	</div>

	<div class="container-fluid">
		<h1>RGB Selector</h1>
		<div class="row" style="margin-top:20px; margin-bottom:25px">
			<div class="col-xs-3" style="color:red; font-size:150%">Red</div>
			<div class="col-xs-9"><input type="range" min="0" max="256" value="0" onchange="sendCommand('R:'+this.value)"></div>
			<div class="col-xs-2"><span id="rv"></span></div>
		</div>
		<div class="row" style="margin-top:20px; margin-bottom:25px">
			<div class="col-xs-3" style="color:green; font-size:150%">Green</div>
			<div class="col-xs-9"><input type="range" min="0" max="256" value="0" onchange="sendCommand('G:'+this.value)"></div>
			<div class="col-xs-2"><span id="rv"></span></div>
		</div>
		<div class="row" style="margin-top:20px; margin-bottom:25px">
			<div class="col-xs-3" style="color:blue; font-size:150%">Blue</div>
			<div class="col-xs-9"><input type="range" min="0" max="256" value="0" onchange="sendCommand('B:'+this.value)"></div>
		</div>
		
	</div>


	<div class="container-fluid">
		<h1>Other Controlls</h1>
		<div class="row" style="margin-top:20px; margin-bottom:25px">
			<div class="col-xs-4" style="font-size:150%">Brightness</div>
			<div class="col-xs-8"><input type="range" min="1" max="100" value="0" onchange="sendCommand('Bright:'+this.value)"></div>
		</div>

		<div class='row'>
			<div class="col-xs-4"><button class="btn-large btn-primary" style="width:100px; height:75px" onclick="sendCommand('fade')">Fade</button></div>
			<div class="col-xs-4"><button class="btn-large btn-success" style="width:100px; height:75px" onclick="sendCommand('jump')"">Jump</button></div>
			<div class="col-xs-4"><button class="btn-large btn-danger" style="width:100px; height:75px" onclick="sendCommand('off')"">Off</button></div>
		</div>

		

	</div>

	<br>
	<br>

</head>
</html>
